.elements{
  width: 880px;
  display: flex;
  gap: 21px 17px;
  flex-wrap: wrap;
}

.element{
  width: 282px;
  height: 361px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}

.element__image{
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}


.element__content{
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 21px auto 0;
}

.element__place-name{
  font-family:"inter-black", sans-serif;
  font-size: 24px;
  height: 30px;
  width: 240px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.element__button{
  background-color: transparent;
  cursor: pointer;
  width: 21px;
  height: 19px;

}

.element__button:hover{
  opacity: 30%;
}

.element__button-like{
  border: 0;
  background-image: url(../images/Like__Button.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.element__button-like:active{
  background-image: url(../images/Active__Like-Button.svg);

}


