.page {
width: 100%;
background-color: rgba(0, 0, 0, 1);
color: #ffffff;
font-family: "inter-regular", sans-serif;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
flex-direction: column;
margin: 0 auto;

}